<!doctype html>
<html>
  <head>
    <title></title>
    {{{_sections.scripts}}}
    {{#if flash}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function(){
        document.getElementById("usernameSignup").addEventListener("submit", evt => {
        evt.preventDefault()
        const form = evt.target
        const body = JSON.stringify({
          name: form.elements.username.value,
        })
        const headers = {"Content-Type": "application/json"}
        const container = document.getElementById("username-alert")
        fetch("/register-user", {method: "post", body, headers}).then(
          resp => {
            console.log(resp)
            if(resp.status < 200 || resp.status >= 300)
              throw new Error(`request failed with status ${resp.status}`)
            return;
          }
        ).then(()=> {
          container.innerHTML = "<b>Thank you for signing up</b>"
          window.location.replace("")
        })
        .catch(err => {
          container.innerHTML = `<b>We're sorry, we had a problem ` +
            `signing you up.  Please <a href="/">try again</a>`
        })
      })

      document.getElementById("closeButton").addEventListener("click", () => {
        const body = JSON.stringify({
          name: "anonymous",
        })
        const headers = {"Content-Type": "application/json"}
        fetch("/register-user", {method:"post", body, headers}).then( () => window.location.replace(""))
      })
      })
    </script>
    {{/if}}

  </head>
  <body>
    {{#if flash}}
    <div class="alert alert-dismissible alert-{{flash.type}}" id="username-alert">
      <button type="button" class="close" 
        data-dismiss="alert" aria-hidden="true" id="closeButton">&times;
      </button>
      <strong>{{flash.intro}}</strong> {{{flash.message}}}
      <div id="newsletterSignupFormContainer">
        <form class="form-horizontal" role="form" id="usernameSignup">
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Name : </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" required id="username" name="username"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
              <button type="submit" class="btn btn-primary"> Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  {{/if}}
  {{{body}}}
  </body>
</html>
